/* components/RandomQuote.module.css */
.randomQuoteContainer {
    animation: fadeIn 1s ease;
    text-align: center;
    height: 150px; /* Set a fixed height for the quote container */
    overflow: hidden; /* Hide overflow content */
  }
  
  .randomQuoteTitle {
    color: #3498db;
  }
  
  .randomQuote {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .randomQuoteTitle:hover {
    color: #e74c3c;
  }
  
  .randomQuote:hover {
    color: #2ecc71;
    background-color: initial; /* Set background-color to initial on hover */
  }
  